colorama>=0.4.3
librosa>=0.7.2
matplotlib>=3.2.1
musdb==0.3.1
numpy>=1.18.4
pandas>=1.0.3
Pillow>=7.1.2
seaborn>=0.10.1
SoundFile>=0.10.3post1
stempeg==0.1.8
torch>=1.5.0
torchaudio>=0.5.0
tqdm>=4.46.0
wandb>=0.8.35