colorama>=0.4.3
librosa>=0.7.2
matplotlib>=3.2.0
musdb==0.3.1
numpy>=1.18.1
pandas>=1.0.1
Pillow>=7.0.0
seaborn>=0.10.0
SoundFile>=0.10.3post1
stempeg==0.1.8
torch>=1.4.0
torchaudio>=0.4.0
tqdm>=4.43.0
wandb>=0.8.29